<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script type="text/javascript" src="../static/js/qrcode.min.js"></script>
<input id="carNumber" type="text"><button onclick="createQRcode(document.getElementById('carNumber').value)">生成二维码</button>
<div style="margin-top:10px; float: left">
    <div class="pull-left">
        <div id="qrcode" style="width: 100px;margin:0 auto"></div>
    </div>
    <div class="pull-left">
        <p style="margin-left: 10px">扫一扫，手机打开浏览。</p>
    </div>
</div>
<script type="text/javascript">
    function createQRcode(time) {
       var div=document.getElementById('qrcode');
       while (div.hasChildNodes()){
           div.removeChild(div.firstChild);
       }
        var url = window.location.href;
        var url2=url+"jjjkkk";
        console.log(url+time);
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width : 100,
            height : 100
        });
        function makeCode () {
            qrcode.makeCode("www.baidu.com?cartime="+time);
        }
        makeCode();
    }
</script>
</html>